@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #282c34;
}

.App {
  height: 1200px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.form-beli-buah {
  background-color: #8c9ec2;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

h1 {
  text-align: center;
}

form {
  font-size: 18px;
}

.input {
  position: absolute;
  right: 50%;
}

.buah {
  position: absolute;
  right: 27%;
}

#nama-pelanggan {
  width: 50%;
  margin-left: 30px;
  height: 20px;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid black;
}

.submit {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 30px;
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 4px;
  font-size: 20px;
  color: white;
}

.submit:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.daftar-buah {
  display: inline-block;
  background-color: #8c9ec2;
  height: 400px;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding-top: 10px;
  
}

.daftar-buah h1 {
  text-align: center;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.table-row-header {
  background-color: #616e87;
}

.table-row-child {
  background-color: #9ab0db;
}

.timer {
  background-color: #8c9ec2;
  height: 200px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  
}

.timer h2 {
  text-align: center;
}

.div-tugas12 {
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-tambah {
  display: inline-block;
  background-color: #8c9ec2;
  height: 300px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding-top: 10px;
  margin-left: 40px;
}

.input-tambah {
  margin-bottom: 20px;
  margin-left: 50px;
  height: 20px;
  width: 250px;
}

.label-tambah {
  margin-left: 50px;
  font-weight: bold;
}

.submit-tambah {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 24px;
  background-color: #282c34;
  color: white;
  border: 2px solid #616e87;
}

.submit-tambah:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.button {
  background-color: #616e87;
  color: white;
  border: 2px solid #282c34;
  margin-left: 5px;
}

.button:hover {
  cursor: pointer;
  filter: brightness(85%);
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.form-edit {
  position: absolute;
  background-color: #8c9ec2;
  height: 300px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding-top: 10px;
  animation: 1s ease-out 0s 1 slideInFromUp;
}

.close-edit {
  float: right;
  background: none;
  display: inline;
  border: 1px solid #8c9ec2;
  font-size: 24px;
}

.close-edit:hover {
  cursor: pointer;
}

